{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BibliP</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <header>
    <div class="ifrn-logo">
      <img src="assets/logo-if.png" alt="" />
    </div>

    <div class="pnld-text">
      <p><span>PNLD</span> Programa Nacional do Livro Didático</p>
    </div>

    <div class="search-input-container">
      <input
        type="text"
        placeholder="Pesquisar por nome, código, autor ... "
      />
      <button class="search-button">
        <img src="assets/icons/search.svg" alt="" />
      </button>
    </div>

    <button class="header-btn">
      <img src="/assets/icons/bell.svg" alt="" />
    </button>
    <button class="header-btn">
      <img src="/assets/icons/book.svg" alt="" />
    </button>
    <button class="sign-in-button">Entrar</button>
  </header>
    {% block 'main' %} {% endblock %}
</body>
</html>