{% extends "base.html" %} {% load static %} {%block 'head'%}
<link rel="stylesheet" href="{%static 'css/book_borrow.css'%}" />
{%endblock%} {%block 'main'%}
<main class="book-borrow">
  <div class="form-container">
    <form action="" method="post">
      {%csrf_token%}
      <div class="img-form">
        <img src="{{book.book_picture.url}}" alt="" />
      </div>
      <div class="form-content">
        
        <h2>{{book.book_title}}</h2>
        {%for error in form.non_field_errors%}
          <li style="color: red;">{{error}}</li>
        {%endfor%}
        <div class="form-widget">
          <label for="Sala">Sala</label>
          <div class="input-relative">
            {{form.borrow_schoolclass}}
            <img
              src="{% static 'assets/icons/backpack.svg' %}"
              class="form-widget-icon"
              alt=""
            />
          </div>
        </div>

        <div class="inline-widget">
          <div class="form-widget input-relative fx-33">
            <label for="data-recebimento"> Data Recebimento</label>
            {{form.borrow_receipt_date}}
            <img src="" alt="" />
          </div>

          <div class="right-arrow-container">
            <img src="{% static 'assets/right-arrow.svg' %}" alt="" />
          </div>

          <div class="form-widget input-relative fx-33">
            <label for="data-entrega"> Data Entrega</label>
            {{form.borrow_delivery_date}}
          </div>
        </div>

      

          <div class="form-widget fx-50">
            <button class="button">Pedir Empréstimo</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>

{%endblock%}
