{% extends "base.html" %} {% load static %} {%block 'head'%}

<link rel="stylesheet" href="{%static 'css/book-details.css'%}" />
{%endblock%} {% block 'main' %}
    <main>
        <a href="{% url 'index' %}"><img id="back-arrow" src="{%static 'assets/arrow.svg'%}" alt="Voltar"></a>
        <div class="book-info">
            <img id="book-cover" src="{{book.book_picture.url}}" alt="Foto do livro">
            <div class = "book-content">
                <div class="main-book-info">
                    <h1 id="book-title">{{book.book_title}}</h1>

                    
                    <p id="book-writer">
                        {%for author in book.book_author.all%}
                        {{author}}<br>
                        {%endfor%}
                    </p>
                </div>
    
                <div class="book-details">
                    <p>Páginas: 152</p>
                    <p>Editora: {{book.book_publisher}}</p>
                    <p>Edição: {{book.book_edition_number}}</p>
                </div>
    
                <div class="pnld-details">
                    <p>Código PNLD: <b>{{book.book_pnld_code}}</b></p>
                    <p>Q. Estoque: {{book.number_available}} uni.</p>
                </div>
    

            </div>

            <div id="storage-status">
                <p>{{book.get_book_status_display}}</p>
            </div>

        </div>

        <div id="book-description">
            <h2>Descrição</h2>
            <p>{{book.book_description}}</p>
        </div>
        {%if book.book_status == 1 %}
        <a href="{% url 'borrow' 3 %}">
            <div id="borrow-button">
                <p>Alugar</p>
            </div>
        </a>
        {%else%}
            <div id="borrow-button">
                <p>Indisponível</p>
            </div>
        {%endif%}

        
    </main>
{% endblock%}
