{% extends "base.html" %} {% load static %} {%block 'head'%}

<link rel="stylesheet" href="{%static 'css/index.css'%}" />
{%endblock%} {% block 'main' %}

<main class="catalog">
  <div class="catalog-header">
    <h2>Catálogo</h2>
    <div class="filter-container">
      <span>filtrar por: </span>
      <div>categorias...</div>
    </div>
  </div>
  <div class="books-container">
    <div class="book">
      <div class="book-img-container">
        <img
          src="{% static 'assets/image-book-test.png' %}"
          alt="capa do livro"
        />
      </div>
      <span>Os Sertões</span>
    </div>
    <div class="book">
      <div class="book-img-container">
        <img
          src="{% static 'assets/image-book-test.png' %}"
          alt="capa do livro"
        />
      </div>
      <span>Os Sertões</span>
    </div>
    <div class="book">
      <div class="book-img-container">
        <img
          src="{% static 'assets/image-book-test.png' %}"
          alt="capa do livro"
        />
      </div>
      <span>Os Sertões</span>
    </div>
    <div class="book">
      <div class="book-img-container">
        <img
          src="{% static 'assets/image-book-test.png' %}"
          alt="capa do livro"
        />
      </div>
      <span>Os Sertões</span>
    </div>
    <div class="book">
      <div class="book-img-container">
        <img
          src="{% static 'assets/image-book-test.png' %}"
          alt="capa do livro"
        />
      </div>
      <span>Os Sertões</span>
    </div>
    <div class="book">
      <div class="book-img-container">
        <img
          src="{% static 'assets/image-book-test.png' %}"
          alt="capa do livro"
        />
      </div>
      <span>Os Sertões</span>
    </div>
    <div class="book">
      <div class="book-img-container">
        <img
          src="{% static 'assets/image-book-test.png' %}"
          alt="capa do livro"
        />
      </div>
      <span>Os Sertões</span>
    </div>
    <div class="book">
      <div class="book-img-container">
        <img
          src="{% static 'assets/image-book-test.png' %}"
          alt="capa do livro"
        />
      </div>
      <span>Os Sertões</span>
    </div>
    <div class="book">
      <div class="book-img-container">
        <img
          src="{% static 'assets/image-book-test.png' %}"
          alt="capa do livro"
        />
      </div>
      <span>Os Sertões</span>
    </div>
  </div>
</main>
{% endblock %}
