{% load static %}
<link rel="stylesheet" href="{%static 'css/form-style.css'%}">

<div class="login">
    <div class="form-side">
        <div class="institution-info">
            <img src="{%static 'assets/logo-if.svg'%}" alt="Logo do IF(Instituto Federal)">
        <h1>Programa nacional do livro didático</h1>
        </div>
        
    
        <form method = "post">
            {% csrf_token %}
            <label>Matrícula</label>
            {{ form.teacherEnrollment }}
            <label>Senha</label>
            {{ form.password }}
            <div class="remeber-me">
                {{ form.checkBox }}
                <span>Lembrar de mim</span>
            </div>
            <button type="submit">
                Entrar
            </button>
        </form>
    </div>
    
    <div class="image-side">
        <img src="{%static 'assets/library.png' %}" alt="Imagem de uma biblioteca">
        <div class="image-text">
            <h2>Um bom livro nos transforma! </h2>
            <p>A biblioteca PNLD, busca trazer uma aproximação mais saúdavel entre aluno e professor. Além disso, os livros do nosso acervo buscam democraticar esse acesso tão fundamental</p>
        </div>
    </div>
</div>

