{%load static%}
<div class="books-section">
  {% for book in books %}
  <div class="book">
    <a
      href="{%if employer%} {% url 'book_edit' book.id %} {% else %} {% url 'details' book.id %} {%endif%}"
    >
      <div class="book-img-section">
        <img src={{ book.book_picture.url }} alt="capa do livro" />
        <div
          class="book-status {% if book.book_status == 2 %}book-reserved{% endif %}"
        >
          {% if book.book_status == 1 %}Livre{% else %}Reservado{% endif %}
        </div>
        <div class="book-quantity">{{ book.number_in_stock }} unidades</div>
      </div>
    </a>
    <span class="clamp-2">{{ book.book_title }}</span>
  </div>
  {% empty %}
  <div class="empty"><span>Não há livros cadastrados</span></div>
  {% endfor %}
</div>
