{%load static%}
<footer>
    <div class="footer-logo">
      <img src="{% static 'assets/logo-if-white.png' %}" alt="" />
    </div>
    <div class="footer-sections">
      <section class="footer-about-section">
        <h3>Sobre a biblioteca PNLD</h3>
        <p>
          O acervo de livros PNLD (Programa nacional do livro didático) .
          Oferece uma variadade de obras indícadas para uso do professores em
          sala de aula, com livros de diversos assuntos.(e)
        </p>
      </section>
      <section class="footer-faq-section">
        <h3>Faq</h3>
        <ul>
          <li><a href="#">Como alugar um livro?</a></li>
          <li><a href="#">Oque é PNLD</a></li>
          <li><a href="#">Como funcionam os alugueis</a></li>
          <li><a href="#">Onde é o recebimento dos livros?</a></li>
        </ul>
      </section>
      <section class="footer-contacts-section">
        <h3>Contatos</h3>
        <ul>
          <li>funcionario@escolar.ifrn.edu.br</li>
          <li>(84) 55555-5555</li>
        </ul>
      </section>
    </div>
  </footer>