{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BibliP{%if titulo%}: {{titulo}}{%endif%}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {%block 'head'%}{%endblock%}
  </head>
  <body>
    {%include 'partials/_header.html'%}

    {% block 'main' %}{% endblock %} {% block 'scripts' %}{% endblock %}

    {%include 'partials/_footer.html'%}
  </body>
</html>
