{% extends "base.html" %} 
{% load static %} 
{%block 'head'%}<link
  rel="stylesheet"
  href="{% static 'css/book-register.css' %}"
/>
{%endblock%} 

{%block 'main'%}
  <main>
    <div class="book-actions">
      <a id="back-button" href="{%url "books_management"%}"><img src="{%static "assets/icons/back-arrow-white.svg"%}" alt="Voltar"></a>
      <h1>Mitos e Lendas do Brasil</h1>
    </div>
    <form action="post">
      {% csrf_token %}
      <div class="core-infos">
        <div class="file-input">
          <label for="id_book_cover">
            {{ form.book_cover }}
          </label>
        </div>
        <div class="writabel-inputs">
            <p>
              <label>Título:</label>
              {{ form.book_title }}
            </p>
            <p>
              <label for="writer">Autor:</label>
              {{ form.writer }}
            </p>
            <p>
              <label for="publisher">Editora:</label>
              {{ form.publisher }}
            </p>
            <p>
              <label for="genrer">Gênero</label>
              {{ form.genrer }}
            </p>
            <div class="integer-field">
              <p>
                <label for="edition">Edição:</label>
                {{ form.edition }}
              </p>
              <p>
                <label for="number_of_pages">Nº de Páginas:</label>
                {{ form.number_of_pages }}
              </p>
              <p>
                <label for="pnld_code">Cód.Livro:</label>
                {{ form.pnld_code }}
              </p>
              <p>
                <label for="storage_quantity">Q.Estoque:</label>
                {{ form.storage_quantity }}
              </p>
            </div>
        </div>
      </div>
      <div id="discription">
        <p>
          <label for="description">Descrição:</label>
          {{ form.description }}
        </p>
      </div>
      <button>Salvar</button>
    </form>
  </main>
{%endblock%}
