{% extends "base.html" %} {% load static %} {%block 'head'%}
<link rel="stylesheet" href="{%static 'css/table.css'%}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{%endblock%} 

{% block 'main' %}
<main class="borrow-history ">
  <div class="back-arrow">
    <a href="{% if employer %}{% url 'borrow_management' %}{% else %}{% url 'index' %}{% endif %}"
      ><img src="{% static 'assets/icons/back-arrow.svg' %}" alt=""
    /></a>
  </div>
  <div class="borrow-history-container">
    {%include 'partials/_filter_header.html'%}
    <div class="table-container">
      <table class="history-table employ-table">
        <tr class="history-table-header">
          <th id="teacher">Professor</th>
          <th id="book-name">Livro</th>
          <th id="school-class">Sala</th>
          <th id="receipt-date">Data de recebimento</th>
          <th id="delivery-date">Data de entrega</th>
          <th id="actions">Ações</th>
        </tr>
        {% for borrow in borrow_history %}
        <tr>
          <td>{{ borrow.borrow_teacher }}</td>
          <td>{{ borrow.borrow_book }}</td>
          <td>{{borrow.borrow_schoolclass|slice:":13"}}</td>
          <td>{{ borrow.borrow_receipt_date|date:'d/m/Y' }}</td>
          <td>{{ borrow.borrow_delivery_date|date:'d/m/Y' }}</td>
          <td class="actions-td">
            <a href="{% if employer %}
              {% url 'employer_borrow_details' borrow.id %}
            {% else %}
              {% url 'borrow_history_details' borrow.id %}
            {% endif %}">
              <img
                src="{% static 'assets/icons/eye.svg' %}"
                alt="botão ver empréstimo"
              />
            </a>

            {%if borrow.borrow_status == 1 %}
            <div borrow_id="{{borrow.id}}" class="accept_modal_button">
              <img
                src="{% static 'assets/icons/edit_fill.svg' %}"
                alt="botão editar empréstimo"
              />
            </div>

            <dialog class="modal-cancel-borrow" id="modal-accept{{borrow.id}}">
              <div>
                <p>Ao clicar em "aceitar" o empréstimo {{borrow.borrow_book}} da turma {{borrow.borrow_schoolclass}} será aberto</p>
                <p>tem certeza disso?</p>
                
            </div>
              <div class='modal-buttons-div'>
                <button class="close-dialog" id="close{{borrow.id}}">voltar</button>
                <a href="{%url 'employer_accept_borrow' borrow.id%}" id="accept-button{{borrow.id}}" class="cancel-borrow button-danger">aceitar</a>
              </div>
            </dialog>
            {%endif%}

            {%if borrow.borrow_status == 1 or borrow.borrow_status == 2 %}
            <div  borrow_id="{{borrow.id}}" class="cancel-button" id="cancel{{borrow.id}}">
              <img
                src="{% static 'assets/icons/cancel.svg' %}"
                alt="botão cancelar empréstimo"
              />
            </div>

            <dialog class="modal-cancel-borrow" id="modal-cancel{{borrow.id}}">
              <div>
                <p>encerrar empréstimo de {{borrow.borrow_book}} da turma {{borrow.borrow_schoolclass}}?</p>
                <p>todos os estudantes que não devolveram o livro vão ser marcados como "atrasado" </p>
  
              <div class='modal-buttons-div'>
                <button class="close-dialog" id="close{{borrow.id}}">voltar</button>
                <a href="{%url 'employer_cancel_borrow' borrow.id%}" id="cancel-button{{borrow.id}}" class="cancel-borrow button-danger">cancelar</a>
            </dialog>
            {%endif%}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</main>


<script >
  $('.cancel-button').click(function(){
    var borrow_id=$(this).attr("borrow_id");
    
    var modal=document.getElementById('modal-cancel'+borrow_id);
    modal.showModal();

    var close_modal=document.getElementById('close'+borrow_id);
    close_modal.addEventListener('click',function(){
      modal.close();
    },{once:true});

    var cancel_button=document.getElementById('cancel-button'+borrow_id);
    cancel_button.addEventListener('click',function(event){
      event.preventDefault();
      modal.close(); 
      
      var url= $(this).attr('href');
      $.ajax({
        url:url,
        type: "GET",
        success:function(response){
          if (response.success) {

            location.reload();
          } 
        },
        error:function(e){
          console.error('erro',e.responseText)
        }
        
      });
    });
  });
</script>




<script>
  $('.accept_modal_button').click(function(){
    var borrow_id=$(this).attr('borrow_id');

    var modal=document.getElementById('modal-accept'+borrow_id);
    modal.showModal();

    var close_modal=document.getElementById('close'+borrow_id);
    close_modal.addEventListener('click',function(){
      modal.close();
    },{once:true});


    var accept_button=document.getElementById('accept-button'+borrow_id);
    accept_button.addEventListener('click',function(event){
      event.preventDefault();
      modal.close(); 
      
      var url= $(this).attr('href');
      $.ajax({
        url:url,
        type: "GET",
        success:function(response){
          if (response.success) {

            location.reload();
          } 
        },
        error:function(e){
          console.error('erro',e.responseText)
        }
        
      });
    });

  });
</script>

{%endblock%}