{% extends "base.html" %} {% load static %} {%block 'head'%}
<link rel="stylesheet" href="{%static 'css/table.css'%}" />
{%endblock%} {% block 'main' %}
<main class="borrow-history employ-borrow-detail">
  
  <div class="borrow-history-container">

    <div class="table-title">
      
      <div class="title-div">
        <div class="back-arrow">
          <a href="{%if request.user.profile.profile_type == 1%}{% url 'employer_borrow_list' %}{% else %}{% url 'borrow_history' %}{% endif %}"
            ><img src="{% static 'assets/icons/back-arrow.svg' %}" alt=""
          /></a>
        </div>
        <h1>Lista de Alunos</h1>
      </div>
      
      <div class="table-label">
        <span>{{borrow.borrow_book}}</span>
        <span>{{borrow.borrow_receipt_date|date:"d/m/Y"}}-{{borrow.borrow_delivery_date|date:"d/m/Y"}}</span>
        <span>Prof.{{borrow.borrow_teacher}}</span>
      </div>
    </div>
    
  
    <h2>{{borrow.borrow_schoolclass}}</h2>


    <div class="table-container">
      <table class="history-table">
        <tr class="history-table-header">
          <th id="book-name">Nome</th>
          <th id="receipt-date">Data de recebimento</th>
          <th id="delivery-date">Data de entrega</th>
          <th id="actions">Status</th>
        </tr>
        {% for student_borrow in borrow.borrowstudent_set.all %}
        <tr>
          <td>{{ student_borrow.borrow_student }}</td>
          <td>{{ student_borrow.borrow_student_receipt_date }}</td>
          <td>{%if student_borrow.borrow_student_delivery_date%}
            {{student_borrow.borrow_student_delivery_date }}
          {%else%}
            não devolvido
          {%endif %}
        </td>
          <td>
            <span class="student-status status{{student_borrow.borrow_student_status}}">{{student_borrow.get_borrow_student_status_display}}</span>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</main>
{% endblock %}
