{% load static %}

<head>
  <title>Biblip</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" href="{% static 'css/index-employee.css' %}" />
</head>

<main>
  <section class="appointments-section">
    <h2>Agendados para</h2>
    <h3>Esta semana</h3>
    <section class="appointments-container">
      <div class="appointment-content">
        <span class="school-class">3º INFO Matutino</span>
        <div class="dates-line">
          <span>03/12/2024</span> - <span>10/12/2024</span>
        </div>
        <span class="book-name">Mitos e lendas do Brasil</span>
      </div>
      <div class="appointment-content"></div>
      <div class="appointment-content"></div>
      <div class="appointment-content"></div>
      <div class="appointment-content"></div>
    </section>
    <button class="employee-button">Ver mais</button>
  </section>
  <section></section>
</main>
