@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
  font-size: 10px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
button{
  display: flex;
  align-items: center;
}
body{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root{
  --main-color: #2F9E41;
  --cinza-palido: #4B4B4B;
  --employee-bg: #1E1E1E
}

header{
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 3.4rem 4.2rem;
  z-index: 10;
  background-color: white;
  user-select: none;
}
header .ifrn-logo{
  width: 6rem; 
}
header .ifrn-logo img{
  width: 100%;
}
header .pnld-text{
  width: 10%;  /*testar min-content depois de input*/
  color: var(--cinza-palido);
  font-size: 1.2rem;
  text-align: center;
}
header .pnld-text span{
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  border-bottom: 1px solid var(--cinza-palido);
  user-select: none;
}
header .search-input-container{
  position: relative;
  width: 40%;
  display: flex;
  align-items: center;
}
header .search-input-container input{
  width: 100%;
  padding: 1.2rem 1.7rem;
  border-radius: 5rem;
  border: 1px solid var(--cinza-palido);
  outline: none;
}
header .search-input-container .search-button{
  position: absolute;
  right: 0;
  margin: 0 1.7rem;
  height: fit-content;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
header .header-btn{
  border: none;
  cursor: pointer;
  background-color: transparent;
}



.sign-in-button{
  padding: 1.6rem 3.5rem;
  border: none;
  border-radius: 0.8rem;
  color: white;
  cursor: pointer;
  background-color: var(--main-color);
  justify-content: center;
}

footer{
  margin-top: auto;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  padding: 3.8rem 3.8rem 5.6rem 3.8rem;
  font-size: 1.6rem;
  color: white;
  background-color: var(--main-color);
}
.footer-logo{
  width: 5.7rem;
}
.footer-logo img{
  width: 100%;
}
.footer-sections{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
footer a {
  color: white;
}
footer .footer-about-section{
  width: 45%;
}
.footer-faq-section, .footer-contacts-section{
  width: 20%;
}
footer h3{
  font-size: 2.4rem;
}


main{
  flex: 1;
  padding: 16rem 0rem ;
}

/* classes */
.clamp-1 {
  display: -webkit-box; 
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

/* partial filter header*/
.catalog{
  flex: 1;
  padding: 16rem 8.5rem ;
}
.catalog-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.8rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--cinza-palido);
}

.catalog-header h2{
  font-size: 2.4rem;
  font-weight: 400;
}
.catalog-header .filter-container{
  display: flex;
  align-items: center;
  gap: .6rem;
  font-size: 2rem;
}
.catalog-header .filter-container div{
  font-size: 1.6rem;
  padding: .2rem .9rem;
  border-radius: 5rem;
  color: var(--cinza-palido);
  border: 1px solid var(--cinza-palido);
  cursor: pointer;
}