.books-management{
  display: flex;
  padding-left: 8.4rem;
  padding-right: 8.4rem;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  font-size: 1.6rem;
}
.books-management h1{
  font-size: 3rem;
}
.books-management-container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 0 5%;
}
.books-management-actions{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
}
.books-management-actions a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .8rem;
  border-radius: .8rem;
  color: white;
  gap: .8rem;
  cursor: pointer;
  background-color: var(--main-color);
}
.books-section{
  padding: 0;
}