@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 4rem;
}

main p{
    font-family: "Merriweather Sans";
    font-size: 1.6rem;
}

h1{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 3rem;
}

form{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input, textarea {
    border: solid white 0.2rem;
    background-color: transparent;
    border-radius: 0.8rem;
    height: 3.6rem;
    width: 100%;
    padding: 1.2rem;
    caret-color: white;
    color: white;
    font-family: "Merriweather Sans";
}

#id_book_cover{
    cursor: pointer;
    background-image: url(../../../static/assets/icons/Export.svg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

input::placeholder {
    color: white;
}

.integer-field{
    display: flex;
    justify-content: space-between;
    gap: 8rem;
}

.integer-field p{
    display: flex;
    flex-direction: column;
}

.integer-field input{
    width: 15rem;
}

input#id_book_cover{
    height: 30rem;
    width: 20rem;
    border-radius: 0;
}

.core-infos{
    display: flex;
    gap: 3rem;
    width: 100%;
}

.writabel-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#discription p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}

textarea{
    height: 20rem;
}

button{
    background-color: #2F9E41;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 0.8rem;
    width: 17rem;
    height: 6rem;
    font-weight: 500;
    align-self: flex-end;
}

.book-actions{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: relative;
}

.book-actions #back-button{
    position: absolute;
    left: 0;
}

.book-actions img{
    height: 2.8rem;
    width: 2.8rem;
}